<ion-view title="About" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header background_image">
  <div style="position: relative">
  <div>
   <img src="img/pin_yellow.png" id="imgUser"  class="div_pin"></div>
<div class = "card about_card">
 
   <div class = "item">
  
      <div class="about_title">Online Notice Board</div>
   </div>
   
   <div class = "item item-text-wrap">
      <div class="about">This app is a place where student can leave any types of messages and notices, for example, to advertise things, announce events or provide any information.
  The main aim of this fapp is to make information dissemination much easier in a paperless community.
  By the help of free online notice board student can access the notices and important information quickly not only in the particular premises, also wherever and whenever they need to know.<br><br>
  <b>Created By:</b><br>
  Uzma Ahmed<br>(3rd yr)</div>
   </div>
</div>
</div>
  </ion-content>
</ion-view>

