<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header background_image">
 <div style="position: relative">
  <div>
   <img src="img/pin_yellow.png" id="imgUser"  class="div_pin"></div>
<div class = "card about_card">
 
   <div class = "item">
  
      <div class="about_title">Quick Guide</div>
   </div>
   
   <div class = "item item-text-wrap">
      <div class="about">1. To add a notice, go to notice tab and write the notice to the given area and press done button.
    <br><br>2. To delete a notice, press on the delete icon press bwlow all the notices.
    <br><br>3. To edit notice,tap on edit icon and made changes and press done.
    <br><br>4. You can add category to the notice so that it will get filtered according to the category.
    <br><br>5. You can see your profile by going to profile tab.</div>
   </div>
</div>
</div>
    
  </ion-content>
</ion-view>